<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <a href="/teacher_register/">Add Teacher</a>
        <a href="/viewteacher/">View Teacher</a>
        <a href="/deleteteacher/">Delete Teacher</a>
        <a href="/viewstudent/">View student</a>
        <a href="/approvestudent/">Approve student</a>
        <a href="/deletestudent/">Delete student</a>
    </form>
    
</body>
</html>