{% extends "index.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {% block content1 %}
 
        <a href="/viewstudent/">View Student</a>
        <a href="/editteacher/">Edit Profile</a>
        <a href="/logoutteacher/">Logout</a>
        {% endblock content1 %}

    </form>
    {% block content2 %}

    <h2>Welcome Teacher,</h2>
 
    {% endblock content2 %}



</body>
</html>